@{
    ViewBag.Title = "Dashboard";
}
@section Breadcrumb{
    <li class="breadcrumb-item active">Dashboard</li>
}

<div class="jumbotron">
    <p class="display-3"><i class="fa fa-clock-o" style="color: rgba(255, 255, 255, 0.8);"></i>&nbsp;Time<b>M</b>anager</p>
    <p class="lead">Almacena tu día a día en un sistema confiable y totalmente tuyo.</p>
    <hr class="my-4">
    <p class="lead">Sistema simple que te ayudará al almacenaje del tiempo dedicado en cada proyecto, usa simples boletas y actividades específicas que te ayudan al registro ágil de horas en el Sistema <a target="_blank" href="https://es.wikipedia.org/wiki/Customer_relationship_management">CRM</a> de tu empresa.</p>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">Usuarios</div>
            <div class="card-body">
                <h4 class="card-title">Registro de usuarios</h4>
                <p class="card-text">Registre y dé mantenimiento a usuarios dentro del sistema.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">Boletas</div>
            <div class="card-body">
                <h4 class="card-title">Registre sus actividades diarias</h4>
                <p class="card-text">Registro de tiempos invertidos separados en boletas y actividades.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">Clientes</div>
            <div class="card-body">
                <h4 class="card-title">Registro de clientes</h4>
                <p class="card-text">Registre y dé mantenimiento a clientes dentro del sistema, asocielos a boletas para seguimiento de tiempos.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">Proyectos</div>
            <div class="card-body">
                <h4 class="card-title">Registre sus proyectos</h4>
                <p class="card-text">Lleve un registro de proyecto para asignar tiempo invertidos a cada uno de ellos.</p>
            </div>
        </div>
    </div>
</div>
<style>
    @@media (max-width: 767px) {
        .display-3 {
            font-size: 330%;
        }
    }

    @@media (max-width: 480px) {
        .display-3 {
            font-size: 250%;
        }
    }

    @@media (max-width: 380px) {
        .display-3 {
            font-size: 200%;
        }
    }
</style>