
@section Breadcrumb{
    <li class="breadcrumb-item">@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
    <li class="breadcrumb-item active">Reportes</li>
}

<div class="row">
    <div class="col-sm-12">
        <div class="list-group">
            <a href="@Url.Action("Boletas", "Reporte")" class="list-group-item list-group-item-action">
                Reporte boletas
            </a>
            <a href="@Url.Action("BoletasActividades", "Reporte")" class="list-group-item list-group-item-action">
                Reporte boleta y detalle de actividades
            </a>
        </div>
    </div>
</div>